<div class="wrapper">
    <div class="header_point">
        <p class="title">计算机行业持续爆发性增长</p>
        <p class="date_info">
            <span class="date">2017-09-18</span> <span class="time">08:17:55</span><span>阅读</span> <span class="read_statistics">4124</span>
        </p>
        <p class="title_mess">摘要：10月21日，不少用户发现，微信对超过一定额度的转账开始收费，澎湃新闻记者通过验证确认了这一说法。</p>
    </div>
    <div class="content_free_point">
        <p>周一开盘A股走势与上周五几乎 如出一辙两桶油等权重逆势上涨，中小创继续疲软但在上周五空头动能充分，释放后，市场多空力量对比发生扭转，多头趁 势反攻，沪指急速拉 升引，领两市迎来，开门红。相信这背后与这样一则被忽视的利好密不可分。</p>
        <p>之所以说是被忽视，是因为近期市场关注点都在监管层的态度上毕竟 前期重拳“妖精”的一幕仍记忆犹新 但事实上，消息面最新传出广西400亿养老金委托社保基金进行投资这也让一直“雷声大，雨点小”的养老金入市无疑迈出了实质性一步。在其先头部队即将入市这一利好消息，的刺激下，市场迎来了一波急速拉升。</p>
        <p>而随着兵器集团、 石油、铁路等多个难啃的“硬骨头”混改破冰的消息传出后，两市就开启了疯狂炒地图模式，东北、上海深圳等各省市地方的国央企改革题材接力掀起涨停潮：如兵器集团旗下四大上市公司纷纷拉板，其中长春一东更是区间涨幅超过30%;  再如已经走妖的军工股湖南天雁遭到资金的疯狂追捧，上演五天四板的神话;再如股价近期调整充分，底部放量直接涨停的甘肃电投。 由此可见，随着国央企混改步伐实质性 加快，其强者恒强的赚钱效应势必吸引 资金前赴后继，而股价前期调整充分且混改方案超预期的 相关题材股势必首当其冲迎来一波强势反弹行情，是投资者进行冬播春收绝佳的投资品种。</p>
    </div>
    <div class="footer">
        <p class="prompt_box">尊敬的投资者您好，感谢您关注观点版块，温馨提示您本版块中观点仅供参考，不作为您买入和卖出的操作建议，板块中发言者都有其特定立场，投资者应当经过独立思考作出投资决策，而不应当以任何信息取代独立判断。市场有风险，投资须谨慎。郑重声明 ：投资者依版块中信息投资所引发或可能引发的任何损失由投资者自行承担。</p>
    </div>
    <div class="fixed_box">
        <img src="./images/avatar.png" alt="" class="portrait">
        <div class="name_and_ID">
            <p class="name">郝琛</p>
            <p class="ID_info">
                <span class="occupation">职业编号</span><span class="occupation_num">S12345678901234</span>
            </p>
        </div>
        <div class="like_info">
            <img src="" alt="" class="like">
            <span class="like_statistics">8</span>
        </div>
    </div>
</div>