<div class="wrapper">
    <div class="header_invest">
        <p class="introduce">十年股龄，擅长擒牛股，抓龙头，创造不败战绩。浸淫股市已二十年，技术、心态已然炉火纯青。</p>
        <div class="personal_info">
            <img src="./images/invest_avatar.png" alt="" class="avatar">
            <div class="tag">
			    <span class="span_red">激进投资</span><span class="span_red">技术分析</span><span class="span_blue">短线操作</span>
		    </div>
        </div>
        <div class="right_arrows">
            <img src="./images/right_arrows.png" alt="">
        </div>
    </div>
    <div class="content_invest">
        <div class="item">
            <div class="item_top">
                <p class="item_title">这只股票让你在猴市也可以轻松赚钱</p>
                <p class="item_content">在各方紧急救火下，周三两市股指止跌大幅反弹救火下，周三两市股指止跌大幅。</p>
            </div>
            <div class="item_bottom">
                <span class="publish_time">5分钟前</span><span class="read_number">546</span>
            </div>
        </div>
        <div class="item">
            <div class="item_top">
                <p class="item_title">这只股票让你在猴市也可以轻松赚钱</p>
                <p class="item_content">在各方紧急救火下，周三两市股指止跌大幅反弹救火下，周三两市股指止跌大幅。</p>
            </div>
            <div class="item_bottom">
                <span class="publish_time">5分钟前</span><span class="read_number">546</span>
            </div>
        </div>
        <div class="item">
            <div class="item_top">
                <p class="item_title">这只股票让你在猴市也可以轻松赚钱</p>
                <p class="item_content">在各方紧急救火下，周三两市股指止跌大幅反弹救火下，周三两市股指止跌大幅。</p>
            </div>
            <div class="item_bottom">
                <span class="publish_time">5分钟前</span><span class="read_number">546</span>
            </div>
        </div>
    </div>
</div>