<div class="wrapper">
	<div class="header">
		<img src="./images/avatar.png" alt="" class="avatar">
		<p>擒股师</p>
		<p>执业证号: S001002003004005006</p>
	</div>
	<div class="content">
		<div class="abs_content">
			<div class="sub_abs_content">
				<p class="abs_title">投顾简介</p>
				<p class="abs_details">财经名博、独立财经评论员。股市雷锋。擅长市场资金面分析。博客点击超亿，人气20万。93年获国家经济师职称，94年参与股市，是新中国第一代股民实践中积累了一定的实战经验，精通常用的技术指标全国财经炒股大师邀请赛前十名。</p>
			</div>
		</div>
		<div class="tag">
			<p class="abs_title">投顾标签</p>
			<span class="span_red">激进投资</span><span class="span_red">技术分析</span><span class="span_blue">短线操作</span>
		</div>
	</div>
</div>