<dic class="wrapper">
    <div class="top_mess">
        <img src="../images/black.png" alt="">
        <p class="top_title">创业板改革方案或最快年内出台，市场化将进一步提速</p>
    </div>
    <div class="content_po">
        <div class="item">
            <div class="ava_name">
                <img src="../images/black_ava.png" alt="" class="point_avatar">
                <span class="point_name">Macintosh</span>
            </div>
           <div class="item_top">
                <p class="item_title">这只股票让你在猴市也可以轻松赚钱</p>
                <p class="item_content">在各方紧急救火下，周三两市股指止跌大幅反弹救火下，周三两市股指止跌大幅。</p>
            </div>
            <div class="item_bottom_point">
                <span class="publish_time">5分钟前</span><span class="read_number">546</span>
            </div>
        </div>
        <div class="item">
            <div class="ava_name">
                <img src="../images/black_ava.png" alt="" class="point_avatar">
                <span class="point_name">Macintosh</span>
            </div>
           <div class="item_top">
                <p class="item_title">这只股票让你在猴市也可以轻松赚钱</p>
                <p class="item_content">在各方紧急救火下，周三两市股指止跌大幅反弹救火下，周三两市股指止跌大幅。</p>
            </div>
            <div class="item_bottom_point">
                <span class="publish_time">5分钟前</span><span class="read_number">546</span>
            </div>
        </div>
        <div class="item">
            <div class="ava_name">
                <img src="../images/black_ava.png" alt="" class="point_avatar">
                <span class="point_name">Macintosh</span>
            </div>
           <div class="item_top">
                <p class="item_title">这只股票让你在猴市也可以轻松赚钱</p>
                <p class="item_content">在各方紧急救火下，周三两市股指止跌大幅反弹救火下，周三两市股指止跌大幅。</p>
            </div>
            <div class="item_bottom_point">
                <span class="publish_time">5分钟前</span><span class="read_number">546</span>
            </div>
        </div>
    </div>
</dic>